{% extends 'base.html' %}
{% block body %}

{% load static %}


<!-- Latest -->
<section class="bg0 p-t-60 p-b-35">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-20">
					<div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
						<h3 class="f1-m-2 cl3 tab01-title">
                اخرین مقالات
              </h3>
					</div>

					<div class="row p-t-35">

            {% for article in articles %}
              <div class="col-sm-6 p-r-25 p-r-15-sr991">
                  <!-- Item latest -->	
                  <div class="m-b-45">
                    <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                      <img src="{% static 'images/latest-01.jpg' %}" alt="IMG">
                    </a>
    
                    <div class="p-t-16">
                      <h5 class="p-b-5">
                        <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                          {{ article.title }}
                        </a>
                      </h5>
    
                      <span class="cl8">
                        <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                          by {{ article.auther }}
                        </a>
    
                        <span class="f1-s-3 m-rl-3">
                          -
                        </span>
    
                        <span class="f1-s-3">
                          {{ article.date_posted }}
                        </span>
                      </span>
                    </div>
                  </div>
                </div>

            {% endfor %}
				
					</div>
				</div>

				<div class="col-md-10 col-lg-4">
					<div class="p-l-10 p-rl-0-sr991 p-b-20">
						<!-- Video -->
						<div class="p-b-55">
							<div class="how2 how2-cl4 flex-s-c m-b-35">
								<h3 class="f1-m-2 cl3 tab01-title">
									Featured Video
								</h3>
							</div>

							<div>
								<div class="wrap-pic-w pos-relative">
									<img src="images/video-01.jpg" alt="IMG">

									<button class="s-full ab-t-l flex-c-c fs-32 cl0 hov-cl10 trans-03" data-toggle="modal" data-target="#modal-video-01">
										<span class="fab fa-youtube"></span>
									</button>
								</div>

								<div class="p-tb-16 p-rl-25 bg3">
									<h5 class="p-b-5">
										<a href="#" class="f1-m-3 cl0 hov-cl10 trans-03">
											Music lorem ipsum dolor sit amet consectetur 
										</a>
									</h5>

									<span class="cl15">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											by John Alvarado
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											Feb 18
										</span>
									</span>
								</div>
							</div>	
						</div>
							
						<!-- Subscribe -->
						<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
							<h5 class="f1-m-5 cl0 p-b-10">
								Subscribe
							</h5>

							<p class="f1-s-1 cl0 p-b-25">
								Get all latest content delivered to your email a few times a month.
							</p>

							<form class="size-a-9 pos-relative">
								<input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email">

								<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
									<i class="fa fa-arrow-right"></i>
								</button>
							</form>
						</div>
						
						<!-- Tag -->
						<!-- <div class="p-b-55">
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Fashion
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Lifestyle
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Denim
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Streetstyle
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Crafts
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Magazine
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									News
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Blogs
								</a>
							</div>	 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- 
<div class="container mt-5">

<div class="h3 text-right text-muted mb-4">  اخرین مقالات </div>


<div class="row">

  {% for article in articles %}
    <div class="col-md-4 mt-4">

        <!-- Card 
    <div class="card h-100">

      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fas fa-chevron-right pl-1"></i></a>

      <div class="card-body">

        <a class="card-title h5" href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
        <hr>
        <p class="card-text">{{  article.content |slice:":100" }} {% if article.content|length > 100 %}...{% endif %}</p>

      </div>

        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item white-text text-right">{{ article.date_posted|date:"F d, y"}}<i class="far fa-clock pr-1 ml-1"></i></li>
            <li class="list-inline-item"><a href="#" class="white-text">{{ article.auther }}<i class="far fa-comments pr-1"></i></a></li>

          </ul>
        </div>

      </div>
      </div>

  {% endfor %} -->




   
</div>
<a href="/article"><button class="btn btn-outline-success">همه مقاله ها</button></a>


</div>

	<!-- Headline -->
	<div class="container">
      <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
          <span class="text-uppercase cl2 p-r-8">
            Trending Now:
          </span>
  
          <span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
            <span class="dis-inline-block slide100-txt-item animated visible-false">
              Interest rate angst trips up US equity bull market
            </span>
            
            <span class="dis-inline-block slide100-txt-item animated visible-false">
              Designer fashion show kicks off Variety Week
            </span>
  
            <span class="dis-inline-block slide100-txt-item animated visible-false">
              Microsoft quisque at ipsum vel orci eleifend ultrices
            </span>
          </span>
        </div>
  
        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
          <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
          <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
            <i class="zmdi zmdi-search"></i>
          </button>
        </div>
      </div>
    </div>
      

<!-- Jumbotron -->
<!-- <div class="card card-image mt-5" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <h2 class="card-title h2 my-4 py-2">پنل های کاربری راکت</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">در عرض چند ثانیه در راکت عضو شوید تا بتوانید از امکانات سایت بصورت کامل استفاده کنید . همه این امکانات در کنار هم قرار گرفته اند تا به شما کمک کنند به ساده ترین روش , جدیدترین و کاربردی ترین زبان ها و فریمورک های روز جهان رو یاد بگیرید
      <div class="container">

<div class="row">
 <div class="col-md-3">
        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
  </div>
  </div>
      
      </div>  
 <div class="col-md-3">

        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
   
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
        <p class="card-text pb-2 pt-2">۴۰٪ تخفیف برای خرید 
دوره های نقدی
</p>

  </div>

  </div>
      
      </div>  

 <div class="col-md-3">


        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
    
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
      
  </div>

  </div>
      
        </div>

    <div class="col-md-3">
        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
   
   
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
        <p class="card-text pb-2 pt-2">۴۰٪ تخفیف برای خرید 

دوره های نقدی

</p>

  </div>

  </div>
  
      
      </div>  
</p>


    </div>
  </div>
</div>

</div>

</div> -->
<!-- Jumbotron -->

{% endblock %}