{% extends 'base.html' %}
{% block body %}

    <!-- Jumbotron -->
    <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

        <!-- Content -->
        <h2 class="card-title h2 my-4 py-2">اموزش ها رو از همین امروز شروع کن</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">باور ما اینست که کاربران ایرانی لایق بهترین ها هستند و باید بهترین و بروزترین فیلم های آموزشی و مقالات در اختیار آنها قرار بگیرد تا بتوانند به سرعت پیشرفت کنند و جزء بهترین ها در صنعت طراحی و برنامه نویسی وب شوند . با ما همراه باشید تا بهترین ها رو لایق بهترین کاربران کنیم</p>
        <button class="btn peach-gradient">دوره های اموزشی </button>
        <button class="btn purple-gradient">مقالات اموزشی</button>
        <button class="btn blue-gradient">بحث و گفتگو</button>


        </div>
    </div>
    </div>
    <!-- Jumbotron -->

<div class="container mt-5">

<div class="h3 text-right text-muted mb-4">  اخرین مقالات </div>


<div class="row">

  {% for article in articles %}
    <div class="col-md-4 mt-4">

        <!-- Card -->
    <div class="card h-100">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fas fa-chevron-right pl-1"></i></a>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <a class="card-title h5" href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
        <hr>
        <!-- Text -->
        <p class="card-text">{{  article.content |slice:":100" }} {% if article.content|length > 100 %}...{% endif %}</p>

      </div>

        <!-- Card footer -->
        <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item white-text text-right">{{ article.date_posted|date:"F d, y"}}<i class="far fa-clock pr-1 ml-1"></i></li>
            <li class="list-inline-item"><a href="#" class="white-text">{{ article.auther }}<i class="far fa-comments pr-1"></i></a></li>

          </ul>
        </div>

      </div>
      <!-- Card -->
      </div>

  {% endfor %}




   
</div>
<a href="/article"><button class="btn btn-outline-success">همه مقاله ها</button></a>


</div>

<!-- Jumbotron -->
<!-- <div class="card card-image mt-5" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <h2 class="card-title h2 my-4 py-2">پنل های کاربری راکت</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">در عرض چند ثانیه در راکت عضو شوید تا بتوانید از امکانات سایت بصورت کامل استفاده کنید . همه این امکانات در کنار هم قرار گرفته اند تا به شما کمک کنند به ساده ترین روش , جدیدترین و کاربردی ترین زبان ها و فریمورک های روز جهان رو یاد بگیرید
      <div class="container">

<div class="row">
 <div class="col-md-3">
        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
  </div>
  </div>
      
      </div>  
 <div class="col-md-3">

        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
   
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
        <p class="card-text pb-2 pt-2">۴۰٪ تخفیف برای خرید 
دوره های نقدی
</p>

  </div>

  </div>
      
      </div>  

 <div class="col-md-3">


        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
    
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
      
  </div>

  </div>
      
        </div>

    <div class="col-md-3">
        <div class="card card-cascade wider p-2">
  <div class="card-body card-body-cascade text-center pb-0">

    <h4 class="card-title text-dark"><strong>یکساله</strong></h4>
    <h5 class="green-text pb-2 h1"><strong>۷۰۸
۲۲۹</strong></h5>
   
   
    <p class="card-text">با خریداری این پنل شما میتوانید به ویدیوهای ویژه سایت به مدت یکسال بطور کامل دسترسی داشته باشید.</p>
            <button class="btn btn-danger">
                عضویت
            </button>
        <p class="card-text pb-2 pt-2">۴۰٪ تخفیف برای خرید 

دوره های نقدی

</p>

  </div>

  </div>
  
      
      </div>  
</p>


    </div>
  </div>
</div>

</div>

</div> -->
<!-- Jumbotron -->

{% endblock %}