{% extends 'base.html' %}

{% block body %}


        <!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">دوره های اموزشی</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">دوره های اموزشی تخصصی وب و موبایل</p>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container mt-5">

<div class="row">
    <div class="col-md-3">
            <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h5 class="card-title"><strong>آموزش جاوااسکریپت</strong></h5>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
    <!-- Text -->
    <p class="card-text">زبان برنامه نویسی جاوا اسکرپیت جزو معدود زبان‌هایی است که توانسته دنیای وب و اینترنت را بیش از سایر زبان‌های برنامه نویسی تحت تأثیر خود قرار دهد و امر...
    </p>

  </div>

  <!-- Card footer -->
  <div class="card-footer text-muted text-center">
۰۵:۴۵:۱۸
  </div>

</div>
<!-- Card Regular -->

        
        </div>






        <div class="col-md-3">
            <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Billy Coleman</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
    <!-- Text -->
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
    </p>

  </div>

  <!-- Card footer -->
  <div class="card-footer text-muted text-center">
    2 days ago
  </div>

</div>
<!-- Card Regular -->

        
        </div>




        <div class="col-md-3">
            <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Billy Coleman</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
    <!-- Text -->
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
    </p>

  </div>

  <!-- Card footer -->
  <div class="card-footer text-muted text-center">
    2 days ago
  </div>

</div>
<!-- Card Regular -->

        
        </div>





        <div class="col-md-3">
            <!-- Card Regular -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Billy Coleman</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
    <!-- Text -->
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
    </p>


  </div>

  <!-- Card footer -->
  <div class="card-footer text-muted text-center">
    2 days ago
  </div>

</div>
<!-- Card Regular -->

        
        </div>


</div>
</div>

























{% endblock %}