{% extends 'base.html' %}

{% block body %}


        <!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">دوره های اموزشی</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">دوره های اموزشی تخصصی وب و موبایل</p>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container mt-5">

<div class="row">

    {% if series %}
        {% for seri in series %}
        <div class="col-md-3 mt-5">
            <!-- Card Regular -->
<div class="card card-cascade h-100">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="/media/{{ seri.series_photo }}" alt="Card image cap">
    <a>

      
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <a href="{{ seri.id }}"><h5 class="card-title"><strong>{{ seri.issue }}</strong></h5></a>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">{{ seri.teacher}}</h6>
    <!-- Text -->
    <p class="card-text">{{ seri.explanation|slice:":100" }} {% if seri.explanation|length > 5 %}...{% endif %}
    </p>

  </div>

  <!-- Card footer -->
  <div class="card-footer text-muted text-center">
۰۵:۴۵:۱۸
  </div>

</div>
<!-- Card Regular -->

        
        </div>
        {% endfor %}



    {% endif %}

  
</div>
</div>


{% endblock %}