{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container mt-5">
<!-- Material form login -->
<div class="card w-50 m-auto">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong> بازیابی پسورد </strong>
    </h5>
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
      <!-- Form -->
      <form method="POST" class="text-center" style="color: #757575;">
          {% csrf_token %}
          <div class="form-group">
                {{ form|crispy }}
          </div>
        <div class="d-flex justify-content-around">
          <div>
          </div>
          <div>
          </div>
        </div>
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">بازیابی شود !</button>
      </form>
      <!-- Form -->
    </div>
  </div>
</div>

  {% endblock %}