{% extends "../base.html" %}

{% block body%}
<div class="container mt-5 d-block">



        <!-- Title -->
        <h4 class="card-title">{{ object.title }}</h4>
        <hr>
        <!-- Text -->
        <p class="card-text">{{  object.content }} </p>

        {% if object.auther == user %}
                <div class="mt-5 float-right">
                        <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'article-update' object.id %}">ویرایش</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article-delete' object.id %}">حذف</a>

                </div>

        {% endif %}
        
        
      
</div>        


{% endblock %}